<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dansu.mytube" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        //To access Google APIs:
        <uses-permission android:name="android.permission.INTERNET" />
        //To retrieve the account name (email) as part of sign-in:
        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        //To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user's Google account from an app.
        <uses-permission android:name="android.permission.USE_CREDENTIALS" />
        <activity
            android:name=".LogIn"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search_Favorite"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.view" />
                <category android:name="android.intent.category.defauld"/>
            </intent-filter>


        </activity>
        <activity android:name=".PlayerActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme"/>

    </application>
</manifest>
